* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

header {
    text-align:center;
    position:relative;
    padding-top:10vh;
    background:aliceblue;
}
header h1 {
    font-family:Sacramento;
    font-size:300%;
    color:#00c39c;
}
header h2 {
    font-family:Montserrat;
    font-size:100%;
    color:#00c39c;
}
.background_img {
    position:relative;
    width:100%;
}
.cloud {
    width:30%;
}
.right_cloud {
    left:30%;
    position:relative;
}
.left_cloud {
    position:relative;
    right:30%;
}

.profile {
    font-family:Montserrat;
    display:flex;
    align-items:center;
    font-size:80%;
    padding:20px;
    font-weight:bold;
}
.profile::after {
    content:"";
    display:table;
    clear:both;
}

.profile img{
    width:30%;
    border-radius:100%;
    box-shadow:-2px 2px 8px  1px gray;
}
.profile p {
    padding:15px;
    vertical-align:center;
    margin:8px 0px;
}
.keypoints {
    background:aliceblue;
    padding:10px;
}
.keypoints h2 {
    color:#00c39c;
    font-family:Merriweather; 
    height:15%;
    text-align:center;
}
.keypoints li{
    list-style-position:inside;
    list-style-type:auto;
    font-family:arial;
    font-size:90%;
    padding:7px 0px 3px 26px;

    
}
.skills {
    padding:10px;
    display:flex;
    align-items:center;
}
.skills img{
    width:30%;
    border-radius:100%;
    box-shadow:2px 2px 5px gray;
}
.skills ul {
    width:45%;
    padding-left:40px;
    color:#00c39c;
    list-style-type:;
}
.skills li {
    font-weight:bold;
    padding:5px 0px 0px 5px;
}
footer {
    text-align:center;
    background:#00c39c;
    color:white;
}
footer a {
    display:inline-block;
    color:white;
    text-decoration:none;
    padding:15px 10px;
}
footer p {
    padding:20px; 
}
hr {
    width: 30%;
    margin:auto;
}
.xx {
    text-align:center;
    background:ghostwhite;
    padding:20px;
    border-radius:9px;
    width: 80%;
    margin:10px auto;
    color:red;
    font-weight:bold;
}
.xx a {
    text-decoration:none;
}
.xx a:hover {
    background:dodgerblue;
    color:white;
}
.col-1{width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10{width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



